body {
    font-family: 'JetBrains Mono', monospace;
    background-image: url("../images/fond-film.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*=======================================================*/
/* Header */
/*=======================================================*/

header {
    text-align: center;
}

header h1 {
    font-weight: bold;
}

header h1 p {
    padding: 2rem;
}

.navbar {
    margin: auto;
}


h3 {
    font-weight: bold;
}


/*=======================================================*/
/* Pages Home et Category */
/*=======================================================*/

.container-fluid {
    display: flex;
    flex-wrap: wrap;
}

.movie-category {
    width: 50%;
    padding: 1rem;
}

.card {
    height: 100%;
}

.row {
    margin: 2rem;
}

.card-img {
    height: 100%;
}

a {
    color: #856D45;
}

a:hover {
    font-weight: bold;
}

a h2 {
    background-color: black;
    border-radius: 10px;
    display: inline;
}

.w-100 a {
    cursor: grab;
    text-decoration: none;
}

.w-100 a h2:hover {
    color:black;
    border: solid 5px black;
    background-color: #604B2E;
}

.movie {
    color: #604B2E;
}

.duration {
    color: black;
}

#movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#movies-list .movie {
    border: solid #604B2E 2px;
    border-radius: 10px;
    background-color: #856D45;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    width: 20%;
}

.year {
    font-style: italic;
}

section h2 {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    background-color: black;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    text-align: center;
    color: #604B2E;
}

/*=======================================================*/
/* Page Films */
/*=======================================================*/
.moviesList {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;

}

.movieToAdd {
    text-align: center;
    width: 50%;
    border: solid 2px black;
    padding: 15px;
}

.movies-container {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: initial;
}





/*=======================================================*/
/* Footer */
/*=======================================================*/

#toTop {
    position: fixed;
    height: 25px;
    width: 25px;
    bottom: 30px;
    right: 30px;
    background-color: #604B2E;
}

#toTop:hover {
    transform: scale(1.5);
}

#toTop img {
    width: 25px;
}

.footer {
    text-align: center;
    color: black;
}