body {
    font-family: 'JetBrains Mono', monospace;
    background: url("../images/fond-film.jpg") fixed no-repeat;
}

/*=======================================================*/
/* Header */
/*=======================================================*/

header {
    text-align: center;
    padding-top: 2rem;
}

header h1 {
    font-weight: bold;
}

header h1 p {
    padding: 2rem;
}

.navbar {
    margin: auto;
}

h3 {
    font-weight: bold;
}


/*=======================================================*/
/* Pages Home et Category */
/*=======================================================*/

.container-fluid {
    display: flex;
    flex-wrap: wrap;
}

.movie-category {
    padding: 1rem;
}

.card {
    height: 100%;
}

.card-img {
    height: 100%;
}

a {
    color: #856D45;
}

a:hover {
    font-weight: bold;
}

a h2 {
    background-color: black;
    border-radius: 10px;
    display: inline-block;
}

.w-100 a {
    cursor: grab;
    text-decoration: none;
}

.w-100 a h2:hover {
    color:black;
    border: solid 5px black;
    background-color: #604B2E;
}

.duration {
    color: black;
}

#movies-list {
    justify-content: center;
    margin: 2rem;
    padding-left: 0;
}

#movies-list .movie {
    border: solid #604B2E 2px;
    border-radius: 10px;
    color: #604B2E;
    background-color: #856D45;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
}

.year {
    font-style: italic;
}

section h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    background-color: black;
    border-radius: 10px;
    margin: 2rem;
    text-align: center;
    color: #604B2E;
}

/*=======================================================*/
/* Page Films */
/*=======================================================*/
.moviesList {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

/*=======================================================*/
/* Footer */
/*=======================================================*/

#toTop {
    position: fixed;
    height: 30px;
    width: 30px;
    bottom: 30px;
    right: 30px;
    background-color: #604B2E;
}

#toTop:hover {
    transform: scale(1.5);
}

#toTop img {
    width: 30px;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    color: #604B2E;
    background-color: black;
}